<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cards</title>

    <link rel="stylesheet" href="css/collector_stylesheet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="teams">All Cards</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1>Welcome to Average Collector - Cards</h1>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <td>Set</td>
            <td>Player</td>
            <td>Team</td>
            <td>Card Number</td>
        </tr>
        <tr th:each="card:${cards}">
            <td th:text="${card.cardSet}">Set</td>
            <td th:text="${card.player}">Player</td>
            <td th:text="${card.team}">Team</td>
            <td th:text="${card.cardNum}">Card Number</td>
        </tr>
    </table>
</div>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><p class="text-muted">@Copyright 2017 Christopher Recinos</p></div>
        </div>
    </div>
</footer>
</body>
</html>