<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            var teams = [[${teams}]];
            var sel = document.createElement('select');
            sel.className = "u-full-width";
            var selectHTML = "<option value='' selected='selected'>Choose Team</option>\n";
            for (var i = 0; i < teams.length; i++) {
                var teamString = teams[i].city + " " + teams[i].teamName;
                selectHTML += "<option value='" + teamString + "'>" + teamString + "</option>\n";
            }
            sel.innerHTML = selectHTML;
            document.getElementById('teamList').appendChild(sel);
        });

        $(document).ready(function() {
            var sets = [[${sets}]];
            var sel = document.createElement('select');
            sel.className = "u-full-width";
            var selectHTML = "<option value='' selected='selected'>Choose Set</option>\n";
            for (var i = 0; i < sets.length; i++) {
                var setString = sets[i].cardYear.cardYear + " " + sets[i].brand.brandName
                    + " " + sets[i].setName;
                selectHTML += "<option value='" + setString + "'>" + setString + "</option>\n";
            }
            sel.innerHTML = selectHTML;
            document.getElementById('teamList').appendChild(sel)
        });
        /*]]>*/
    </script>
</head>
<body>
    <h2>Hi</h2>
    <form th:action="@{/search}" method="get">
        <div class="u-pull-left">
            <div class="row">
                <input type="text" name="player" value="" placeholder="Search By Player"/>
                <div id="setList"></div>
                <div id="teamList"></div>
                <input type="text" name="cardNumber" value="" placeholder="Search By Card Number"/>
                <input type="text" name="serial" value="" placeholder="Search By Serial Number (ex. just type /99 for all cards numbered to 99)"/>
                <select class="u-full-width">
                    <option value="" selected="selected">Search By Memorabilia Type</option>
                    <option value="Relic">Relic</option>
                    <option value="Autograph">Autograph</option>
                    <option value="Autograph Relic">Autograph Relic</option>
                    <option value="Cut Signature">Cut Signature</option>
                    <option value="Jumbo Relic">Jumbo Relic</option>
                    <option value="Dual Relic">Dual Relic</option>
                    <option value="Dual Autograph">Dual Autograph</option>
                    <option value="Triple Relic">Triple Relic</option>
                    <option value="Triple Relic Autograph">Triple Relic Autograph</option>
                    <option value="Quad Relic">Quad Relic</option>
                    <option value="Sextuple Relic">Sextuple Relic</option>
                    <option value="Octuple Relic">Octuple Relic</option>
                    <option value="Printing Plate">Printing Plate</option>
                    <option value="Commemorative Patch">Commemorative Patch</option>
                    <option value="Commemorative Medallion">Commemorative Medallion</option>
                </select>
            </div>
        </div>
    </form>
</body>
</html>