<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Code+Pro|Prociono" rel="stylesheet"/>
    <link rel="stylesheet" href="css/collector_stylesheet.css"/>
    <title>Average Collector</title>
    <style>
        h1 {
            font-family: 'Pacifico', cursive;
        }

        body {
            padding: 0;
        }

        #landing p {
            font-family: 'Source Code Pro', monospace;;
        }

        section {
            font-family: 'Prociono', serif;
        }
    </style>
</head>
<body>
    <header id="landing">
        <h1>Welcome to Average Collector</h1>
        <p>Search through the baseball card collection of a single, average collector</p>
        <button onclick="location.href='homepage'" type="button">Get Started</button>
    </header>
    <section id="section-a">
        <p>I've been collecting baseball cards since the age of 11, after getting a blaster box of Topps Opening Day from my Dad. I've always had collecting in my life, be it Yugioh cards, baseball cards, or the need to complete all parts of a video game.
        There is just an amazing feeling of getting some new card to add to my collection that I didn't have previously. This application was made to show just some of the cards that I've collected throughout my (short) time collecting baseball cards, as an average collector</p>
    </section>
    <section id="section-b">
        <p>Any card in this application I'm open to trading for <span style="text-decoration: underline;">anything that will go into my personal collection</span>. In addition, if there are any cards/teams that may help your personal collection, please feel free to mention it in a trade request and I'll see if I have anything that you might be interested that isn't on AverageCollector</p>
        <br/>
        <p>And now for a quick Q&amp;A!</p>
    </section>
    <section id="section-c">
        <div class="box1">
            <div class="question">
                <b>Q. You mentioned your personal collection. What cards are you looking for?</b>
            </div>
            <div class="answer">
                <b>A. Player-wise, I collect Bryce Harper and Trea Turner. Team-wise, it's definitely the Nationals and then older Yankees players.</b>
            </div>
        </div>
        <div class="box2">
            <div class="question">
                <b>Q. Would you be willing to sell any cards shown here?</b>
            </div>
            <div class="answer">
                <b>A. No.</b>
            </div>
        </div>
        <div class="box3">
            <div class="question">
                <b>Q. What sets do you typically look to buy?</b>
            </div>
            <div class="answer">
                <b>A. Either rookie/prospect sets, like Bowman or Pro Debut or high-end sets like Triple Threads and Museum. The appeal of a bunch of base cards has dwindled a bit as I've gotten older.</b>
            </div>
        </div>
    </section>
</body>
</html>