<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Code+Pro|Prociono" rel="stylesheet"/>
    <link rel="stylesheet" href="css/collector_stylesheet.css"/>
    <title>Average Collector</title>
    <style>
        h1 {
            font-family: 'Pacifico', cursive;
        }

        body {
            padding: 0;
        }

        #landing p {
            font-family: 'Source Code Pro', monospace;;
        }

        section {
            font-family: 'Prociono', serif;
        }
    </style>
</head>
<body>
    <header id="landing">
        <h1>Welcome to Average Collector</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipsicing elit. Modi officis ipsum officia numquam expedita ullam.</p>
        <button onclick="location.href='homepage'" type="button">Get Started</button>
    </header>
    <section id="section-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi consequuntur deleniti distinctio dolorem ea esse fuga, laborum laudantium pariatur perspiciatis quia quibusdam, rem temporibus vero! Alias asperiores consequuntur delectus deleniti doloremque dolores enim eos eveniet illo impedit inventore ipsum labore maiores minima nemo nisi nulla officiis omnis perferendis porro quisquam rem reprehenderit sint tempora tempore vel, voluptas! Blanditiis dolore dolorem et eveniet expedita, hic, inventore iste maiores neque nihil obcaecati placeat qui quia suscipit voluptate. Alias animi, consectetur delectus doloremque et expedita nemo nobis perferendis quidem quos ullam, voluptates voluptatum? Autem corporis fuga iure numquam tempore veritatis vero voluptatibus.</p>
    </section>
    <section id="section-b">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam blanditiis cupiditate distinctio hic illo inventore, ipsa minima natus pariatur perferendis, quidem recusandae temporibus? Architecto ea fugit illo ipsa labore perferendis sint ullam? Blanditiis cupiditate, placeat. Consequatur, deserunt ea enim eveniet ipsam minima quae quisquam sunt voluptates. Ab, commodi modi!</p>
    </section>
    <section id="section-c">
        <div class="box1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores eveniet magni minus nemo nostrum perferendis provident quas rerum similique.</div>
        <div class="box2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque illum iste laudantium magni nemo nobis porro, repellendus totam veniam voluptatem.</div>
        <div class="box3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facere fugiat ipsam iure laborum odit perspiciatis placeat ullam vel vero.</div>
    </section>
</body>
</html>