<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <title>Average Collector</title>
    <style>
        h1 {
            top: 15%;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
            position: absolute;
        }

        button {
            position: absolute;
            top: 50%;
        }
    </style>
</head>
<body>
    <div class="sixteen columns">
        <div class="four columns offset-by-three">
            <h1>Welcome to Average Collector</h1>
        </div>
        <div class="four columns offset-by-five">
            <button class="button-primary" onclick="location.href='homepage'" type="button">Get Started</button>
        </div>
    </div>
</body>
</html>